body {
    font-family: Arial, Tahoma, Verdana, 'Lustria', serif, sans-serif;
    font-size: 0.75rem;
    line-height: 1.25rem;
    margin: 1rem auto;
}

.index-wrapper {
    text-align: center;
    display: grid;
    grid-template-rows: min-content min-content;
    row-gap: 15px;
    width: 12rem;
}

.header-wrapper {
    display: grid;
    grid-template-row: min-content min-content;
    row-gap: 10px;
    justify-items: center;
}

.image {
    width: 8rem;
}

.title {
    font-family: 'Averia Gruesa Libre', cursive, sans-serif;
    font-size:1.5rem;
    line-height: 2rem;
    text-align: center;
}

.subtitle {
    font-size: 1.25rem;
}

.musico-wrapper {
    /*On smaller devices*/
    padding: 0 1rem;
}

@media (min-width: 768px) {
    /*On devices larger than Ipad */
    .musico-wrapper {
        width: 30rem;
    }
}